.profiles {
    width: 103px;
    height: 20px;
    margin: 2px 41px 58px 24px;
    font-family: Gotham;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #b1b8c5;
  }
  .main-content {
    width: 375px;
    height: 667px;
    padding: 41px 0 233px;
    background-color: #ffffff;
  }
  .Path-2 {
    width: 28px;
    height: 1px;
    margin: 0 0 9px;
    border: solid 3px #6374f3;
  }
  .Path-2-Copy {
    width: 28px;
    height: 1px;
    margin: 9px 0;
    border: solid 3px #6374f3;
    
  }
  .Path-2-Copy-2 {
    width: 28px;
    height: 1px;
    margin: 9px 0 0;
    border: solid 3px #6374f3;
  }
  .Path-3 {
    width: 8.9px;
    height: 17.8px;
    margin: 75px 41.1px 37.2px 117px;
    border: solid 2px #97a2ac;
  }
  .Umut-39 {
    padding: 98px, 138px, 194px;
   
    width: 66px;
    height: 18px;
    margin: 36px 4px 37px 22px;
    font-family: Gotham;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #6374f3;
  }
  .img {
    max-width: 24px, 121px, 299px;
    width: 54px;
    height: 52px;
    margin: 58px 22px 20px 24px;
  }
.content{
    height: 121px;
    width: 24px, 299px;
}
